<% layout('/layouts/boilerplate') -%>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
    }

    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }
  </style>

  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Amazing views</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-house-flag"></i></div>
      <p>Treehouses</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></i></div>
      <p>Arctic</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-hurricane"></i></i></div>
      <p>Tropical</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-house-flag"></i></div>
      <p>Cabins</p>
    </div>

    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-landmark-dome"></i></div>
      <p>Domes</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-tower-observation"></i></div>
      <p>Towers</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-person-skiing"></i></div>
      <p>Ski-in/out</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-wind"></i></div>
      <p>Wind</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></i></div>
      <p>Beach</p>
    </div>
    
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;"/>
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= listing.title %> <br /></b>
                    &#x20b9;<%= listing.price.toLocaleString("en-IN") %> /night <br />
                  </p>
                </div>
              </div>
        </a>
        
        <% } %>
  </div>


